
#python-frame-container {
  position: relative;
  height: 100%;
  background-color: inherit;
}

#view-python-frame {
  position: absolute;
  border: none;
  display: block;
  width: 0;
  height: 0;
}
