
#python-frame-container {
  position: relative;
  height: calc(100vh - 41px);
  background-color: inherit;
}

#view-python-frame {
  position: absolute;
  border: none;
  background-color: white;
  display: block;
  width: 100%;
  height: calc(100vh - 41px);
}