
.terminal-menu {
  background-color: var(--chakra-colors-gray-900);
  border-bottom: 1px solid var(--chakra-colors-gray-800);
}

#terminal-container {
  height: 100%;
}

#terminal {
  height: calc(100% - 42px);
  background-color: var(--chakra-colors-gray-900);
  box-sizing: border-box;
  padding-left: 8px;
  padding-top: 5px;
}
