.editor {
  padding-left: 0px;
  padding: 0px;
  background-color: var(--editor-bg-color);
  font-family: 'Source Sans Pro', 'monospace';
  width: 100%;
  display: grid;
  grid-template-columns: 180px auto;
  grid-gap: 0px;
}

.editor-column {
  overflow-y: scroll;
  position: relative;
  height: calc(100vh - 41px);
}

.editor-column::-webkit-scrollbar {
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.editor-svg {
  grid-column-start: 2;
  width: 100%;
}

text {
  fill: var(--editor-text-color);
  font-family: 'Source Sans Pro', 'monospace';
  font-size: 11pt;
  pointer-events: none;
}

:root {
  --editor-bg-color: #13171b;
  --editor-text-color: #FFFFFF;
  --editor-node-block-fill: #2d343e;
  --editor-node-block-edge: #13171b;
  --editor-connector-stroke: #545c67;
  --editor-connector-label: #767e8a;
  --editor-indented-block-stroke: #545c67;
  --editor-anchor-dot: #545c67;

  --editor-autcompleted-bg-color: #134777;
  --editor-autcompleted-edge-color: #3191ea;
  --editor-autcompleted-text-color: #3191ea;
  --editor-autcompleted-highlight-color: #3191ea;

  --editor-selected-node-block-fill: #134777;
  --editor-selected-node-block-edge: #3191ea;
  --editor-selected-node-block-input: #166ab7;
  --editor-selected-connector-stroke: #3191ea;
  --editor-selected-connector-label: #3191ea;
  --editor-selected-indented-block-stroke: #3191ea;
  --editor-selected-anchor-dot: #3191ea;

  --editor-cursor-color: #57aeff;
  --editor-cursor-blink-color: #166ab7;
}
