.edit-box {
  background-color: var(--editor-selected-node-block-fill);
  display: inline-block;
  padding: 0;
  border-width: 0;
  border: none;
}

.edit-box input[type=text] {
  background-color: var(--editor-selected-node-block-input);
  font-family: inherit;
  font-size: 11pt;
  border-style: none;
  color:white;
  height: 20px;
  padding: 0px 2px;
}

.edit-box input[type=text]:focus {
  outline: none;
}
