.edit-box {
  box-sizing: border-box;
  background-color: var(--editor-selected-node-block-fill);
  display: block;
  padding: 0;
  border-width: 0;
  border: none;
  line-height: 1;
}

.edit-box-string {
  font-family: var(--string-font);
  box-sizing: border-box;
  margin: 0;
}

.edit-box textarea {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  font-family: inherit;
  border: none;
  color: white;
  padding: 0px;
  line-height: 20px;
  resize: none;
  margin: 0;
}

.edit-box textarea::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.edit-box textarea:focus {
  outline: none;
}

.edit-box input[type=text] {
  background-color: rgba(0, 0, 0, 0);
  font-family: inherit;
  border-style: none;
  color:white;
  padding: 0px;
  line-height: 1;
}

.edit-box input[type=text]:focus {
  outline: none;
}
