.editor {
  padding-left: 0px;
  padding: 0px;
  background-color: var(--editor-bg-color);
  font-family: 'Karla', 'monospace';
  width: 100%;
  height: 100%;
  --separator-border: var(--section-separator-color)
}

.editor-column {
  height: calc(100vh - 41px);
  display: flex;
  flex-direction: column;
}

.editor-box {
  overflow-y: scroll;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
}

.editor-box::-webkit-scrollbar {
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.editor-svg {
  grid-column-start: 2;
  width: 100%;
  min-height: 100%;
}

.editor-svg text::selection {
  background: transparent
}

.editor-svg pre::selection {
  background: transparent
}

.python-preview-panel {
  border-left: 2px solid var(--section-separator-color);
  height: calc(100vh - 40px);
}

text {
  fill: var(--editor-text-color);
  font-family: 'Karla', 'monospace';
  font-size: 16px;
  pointer-events: none;
}

:root {
  --string-font: 'Inconsolata', monospace;
  /* Comments are special because the cap is brighter than the text. */
  --code-comment-200: rgb(164, 166, 180);
  --code-comment-700: rgb(217, 220, 226);

  --code-neutral-200: rgb(226, 226, 226);
  --code-neutral-700: rgb(97, 97, 96);
  --code-yellow-200: rgb(255 254 196);
  --code-yellow-700: rgb(139 139 109);
  --code-purple-200: rgb(199, 166, 255);
  --code-purple-700: rgb(95, 58, 158);
  --code-lightblue-200: rgb(149, 217, 255);
  --code-lightblue-700: rgb(77 118 141);
  --code-blue-200: rgb(124 179 253);
  --code-blue-700: rgb(60 110 174);
  --code-green-200: rgb(123 216 188);
  --code-green-700: rgb(24, 126, 95);

  --editor-bg-color: #000000;
  --editor-text-color: #FFFFFF;
  --editor-node-block-fill: #1e2730;
  --editor-node-block-edge: var(--editor-node-block-fill);
  --editor-connector-stroke: #6d737c;
  --editor-connector-label: #87909d;
  --editor-placeholder-stroke: #6d737c;
  --editor-placeholder-label: #87909d;
  --editor-indented-block-stroke: #545c67;
  --editor-anchor-dot: #545c67;
  --editor-cap-line: var(--chakra-colors-gray-700);

  --editor-annotation-label: #87909d;
  --editor-annotation-error: #fa8039;

  --editor-autocomplete-bg-color: var(--chakra-colors-gray-900);
  --editor-autocomplete-edge-color: var(--chakra-colors-gray-700);
  --editor-autocomplete-text-color: var(--chakra-colors-gray-500);
  --editor-autocomplete-hover-color: rgb(103, 154, 242, 0.1);
  --editor-autocomplete-highlight-color: #034581;
  --editor-autocomplete-highlight-text-color: var(--chakra-colors-gray-200);
  --editor-autocomplete-highlight-placeholder-label: var(--chakra-colors-gray-300);

  --editor-invalid-node-block-edge: #d37000;

  --editor-selected-node-block-fill: #134777;
  --editor-selected-node-block-edge: #3191ea;
  --editor-selected-node-block-input: #166ab7;
  --editor-selected-connector-stroke: #3191ea;
  --editor-selected-connector-label: #3191ea;
  --editor-selected-indented-block-stroke: #3191ea;
  --editor-selected-anchor-dot: #3191ea;

  --editor-cursor-color: #57aeff;
  --editor-cursor-blink-color: #166ab7;
}
