
.inline-component {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin: 2px;
}

.svgsplootnode {
  stroke: var(--editor-node-block-edge);
  fill: var(--editor-node-block-fill);
}

.svgsplootnode.cap-line {
  stroke: var(--editor-cap-line);
}

.svgsplootnode.gap {
  fill: var(--editor-bg-color);
  stroke: var(--editor-bg-color);
}

.svgsplootnode.gap.selected {
  fill: var(--editor-bg-color);
  stroke: var(--editor-bg-color);
}

.svgsplootnode.gap.placeholder-outline {
  stroke-dasharray: 3px 3px;
  stroke: var(--editor-placeholder-stroke);
}

.svgsplootnode.gap.selected.placeholder-outline {
  stroke: var(--editor-placeholder-stroke);
}

.svgsplootnode.selected {
  stroke: var(--editor-selected-node-block-edge);
  fill: var(--editor-selected-node-block-fill);
}

.svgsplootnode.invalid {
  stroke: var(--editor-invalid-node-block-edge);
}

.invisible-splootnode-invalid {
  fill: transparent;
  stroke: var(--editor-invalid-node-block-edge);
}

.indented-rule {
  stroke: var(--editor-indented-block-stroke);
  stroke-width: 1.4px;
}

.indented-rule.selected {
  stroke: var(--editor-selected-indented-block-stroke);
  stroke-width: 1.4px;
}