
.annotation {
    fill: var(--editor-annotation-label);
    font-size: 11pt;
    pointer-events: none;
}

.error-annotation {
    fill: var(--editor-annotation-error);
    font-size: 11pt;
    pointer-events: none;
}

.slider-track {
    fill: var(--chakra-colors-gray-600);
}

.slider-fill {
    fill: var(--chakra-colors-gray-400);
    transition: width 0.5s;
}

.slider-handle {
    fill: var(--chakra-colors-gray-400);
    transition: cx 0.5s;
}

.slider-background {
    fill: transparent;
}

.slider-button {
    fill: var(--editor-node-block-fill);
}

.slider-button-label {
    fill: var(--chakra-colors-gray-400);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}