
.string-node {
  font-family: var(--string-font);
  font-size: 16px;
  line-height: 20px;
  white-space: pre-wrap;
  color: white;
  margin: 0;
  font-weight: normal;
  padding: 0px;
}

.string-node.measurement {
  position: absolute;
  left: -1000px;
  top: 0;
}

.editing.string-node {
  padding-bottom: 1px;
  padding-top: 1px;
}

.string-node > input {
  font-family: inherit;
  border: none;
}

.string-node > input:focus {
  outline: none;
}

.string-node-selected-background {
  fill: var(--editor-selected-node-block-fill);
  stroke: transparent
}

.string-node-selected-background:focus {
  outline: 0;
}