
#frame-container {
  position: relative;
  height: 100vh;
  background-color: inherit;
}

#view-frame {
  position: absolute;
  border: none;
  background-color: white;
  display: block;
  width: 100%;
  height: calc(100% - 65px);
}