.python-editor-preview-panel {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.python-editor-column {
    grid-column-start: 1;
    border-right: 2px solid var(--section-separator-color);
}