.menu-button {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  padding: 6px 12px;
  font-size: 0.8rem;
  border-radius: 3px;
  border: 1px solid transparent;
  text-decoration: none;
  user-select: none;
  color: gray;
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}

@media (max-width: 900px) {
  .menu-button {
      padding: 6px 10px;
  }
}

.menu-button:hover {
  color: gray;
  background: rgb(53, 53, 53);
  box-shadow: none;
}

.menu-button:active {
  border-color: #b6b6b6;
  color: #000000;
  background: #b6b6b6;
  box-shadow: none;
}

.menu-button:disabled {
  color: rgb(170, 170, 170);
  background-color: transparent;
  border-color: transparent;
}