.editor {
  padding-left: 0px;
  padding: 0px;
  background-color: var(--editor-bg-color);
  font-family: 'Karla', 'monospace';
  width: 100%;
  height: 100%;
  --separator-border: var(--section-separator-color)
}

.editor-column {
  overflow-y: scroll;
  position: relative;
  height: calc(100vh - 41px);
}

.editor-column::-webkit-scrollbar {
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.editor-svg {
  grid-column-start: 2;
  width: 100%;
  min-height: 100%;
}

.python-preview-panel {
  border-left: 2px solid var(--section-separator-color);
}

text {
  fill: var(--editor-text-color);
  font-family: 'Karla', 'monospace';
  font-size: 16px;
  pointer-events: none;
}

:root {
  --editor-bg-color: #000000;
  --editor-text-color: #FFFFFF;
  --editor-node-block-fill: #1e2730;
  --editor-node-block-edge: var(--editor-node-block-fill);
  --editor-connector-stroke: #545c67;
  --editor-connector-label: #767e8a;
  --editor-indented-block-stroke: #545c67;
  --editor-anchor-dot: #545c67;
  --editor-cap-line: var(--chakra-colors-gray-700);

  --editor-annotation-label: #767e8a;
  --editor-annotation-error: #fa8039;

  --editor-autcompleted-bg-color: #134777;
  --editor-autcompleted-edge-color: #3191ea;
  --editor-autcompleted-text-color: #3191ea;
  --editor-autcompleted-highlight-color: #3191ea;

  --editor-invalid-node-block-edge: #d37000;

  --editor-selected-node-block-fill: #134777;
  --editor-selected-node-block-edge: #3191ea;
  --editor-selected-node-block-input: #166ab7;
  --editor-selected-connector-stroke: #3191ea;
  --editor-selected-connector-label: #3191ea;
  --editor-selected-indented-block-stroke: #3191ea;
  --editor-selected-anchor-dot: #3191ea;

  --editor-cursor-color: #57aeff;
  --editor-cursor-blink-color: #166ab7;
}
