.input-box {
  box-sizing: border-box;
  background-color: var(--editor-selected-node-block-fill);
  border: 1px solid var(--editor-selected-node-block-edge);
  display: block;
  padding: 1px;
  border-radius: 4px;
  line-height: 1;
}

.input-box input[type=text] {
  background-color: var(--editor-selected-node-block-input);
  font-family: inherit;
  border-style: none;
  color:white;
  height: 100%;
  padding: 0px 1px 0 2px;
  line-height: 1;
}

.input-box input[type=text]:focus {
  outline: none;
}

.hidden-input-box {
  display: inline-block;
  padding: 0px;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden-input-box input[type=text] {
  background-color: transparent;
  font-family: inherit;
  border-style: none;
  color: transparent;
  height: 20px;
  padding: 0px 0px;
  caret-color: transparent;
  width: 0px;
}

.hidden-input-box input[type=text]:focus {
  outline: none;
}

.autocomplete-inilne-svg {
  display: inline-block;
}

.autocomplete-no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.autocomplete-suggestions {
  --editor-bg-color: var(--editor-autocomplete-bg-color);
  position: absolute;
  border: 1px solid var(--editor-autocomplete-edge-color);
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 250px;
  max-width: 600px;
  overflow-y: auto;
  padding-left: 0;
  width: max-content;
  z-index: 100;
  background-color: var(--editor-autocomplete-bg-color);
  color: var(--editor-autocomplete-text-color);
}

.autocomplete-suggestions svg {
  display: inline-block;
}

.autocomplete-description {
  display: inline-block;
  padding: 1px 8px;
  vertical-align: top;
}

.autocomplete-suggestions li {
  padding: 3px 4px 2px 4px;
}

.autocomplete-suggestions li:hover {
  background-color: var(--editor-autocomplete-hover-color);
  --editor-bg-color: var(--editor-autocomplete-hover-color);
  cursor: pointer;
}

.autocomplete-suggestion-active, li.autocomplete-suggestion-active:hover {
  background-color: var(--editor-autocomplete-highlight-color);
  --editor-bg-color: var(--editor-autocomplete-highlight-color);
  color: white;
  cursor: pointer;
}

.autocomplete-suggestions li:not(:last-of-type) {
  border-bottom: 1px solid var(--editor-selected-node-block-edge);
}