
.tray {
  width: 180px;
  height: calc(99vh - 41px);
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 2px solid var(--section-separator-color);
  box-sizing: border-box;
  padding: 0;
}

.tray::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}