.svg-anchor-dot {
    fill: var(--editor-anchor-dot);
}

.svg-anchor-dot.selected {
    fill: var(--editor-selected-anchor-dot);
}

.tree-connector {
    stroke: var(--editor-connector-stroke);
    stroke-width: 2px;
}

.tree-connector.selected {
    stroke: var(--editor-selected-connector-stroke);
}

.tree-label {
    fill: var(--editor-connector-label);
}

.tree-label.selected {
    fill: var(--editor-selected-connector-label);
}