
.tray {
  --editor-bg-color: var(--chakra-colors-gray-900);
  width: 100%;
  height: calc(99vh - 41px);
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid var(--section-separator-color);
  box-sizing: border-box;
  padding: 0 4px 0 5px;
  background-color: var(--chakra-colors-gray-900);
}

.tray::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}