* {
    box-sizing: border-box;
}

pre {
    margin: 0;
    font-family: Monaco, 'Courier New', monospace;
}

body {
    font-size: 12pt;
}

:root {
    --section-separator-color: var(--chakra-colors-gray-800);
}