* {
    box-sizing: border-box;
}

pre {
    margin: 0;
    font-family: Monaco, 'Courier New', monospace;
}

body {
    font-size: 12pt;
    letter-spacing: -0.03rem;
}

button {
    letter-spacing: -0.03rem
}

svg {
    letter-spacing: normal;
}

:root {
    --section-separator-color: var(--chakra-colors-gray-800);
}